{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}
    <div class="container mt-4">
        <div class="bg-warning text-center text-white mb-4">
            <h3>Espace adhérent</h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
                        </div>
                    {% endif %}
                    <fieldset>
                        <legend class="mb-4"><i class="fa fa-lock" aria-hidden="true"></i> Connexion sécurisée</legend>
                        <div class="form-group">
                            <label for="inputUsername">Identifiant</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Connectez-vous
                        </button>
                            
                    </fieldset>

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                </form>
            </div>
            <div class="col-sm-6 align-self-end ">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading text-center">Vous n'êtes toujours pas inscrit</h4>
                    <hr>
                    <p class="mb-4 lead">Devenez adhérent et profitez de tout notre catalogue.</p>
                    <a href="{{ path('app_register') }}" class="btn btn-warning">S'inscrire</a>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
