{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
    <div class="container mt-4">
        <div class="bg-warning text-center text-white mb-4">
            <h3>S'inscrire</h3>
        </div>

        {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-sm-6">{{ form_row(registrationForm.username) }}</div>
                <div class="col-sm-6">{{ form_row(registrationForm.plainPassword) }}</div>
            </div>
            <div class="row">
                <div class="col-sm-6">{{ form_row(registrationForm.prenom) }}</div>
                <div class="col-sm-6">{{ form_row(registrationForm.nom) }}</div>
            </div>
            <div class="row">
                <div class="col-sm-6">{{ form_row(registrationForm.email) }}</div>
            </div>
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
