{% extends 'base.html.twig' %}

{% block title 'tous les éditeurs' %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-sm-6">
            
            </div>
        </div>

        <div class=" bg-warning text-center text-white">
            <h3>Gérer les éditeurs</h3>
        </div>
        <a class="btn btn-primary mb-2" href="{{ path('admin_editeur_new') }}">Enregistrer un nouvel éditeur</a>
        
        {# notification en cas de modification, suppression ou création #}
        {% for notification in app.flashes('success') %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ notification }}
                    </div
                </div>
            </div>
        {% endfor %}

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>NomEditeur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for editeur in editeurs %}
                <tr>
                    <td>{{ editeur.id }}</td>
                    <td >{{ editeur.nomEditeur }}</td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('admin_editeur_edit', {'id': editeur.id}) }}" >modifier</a>
                        {{ include('admin/editeur/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">aucun éditeur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# rendu de la pagination #}
        <div class="pagination">
            {{ knp_pagination_render(editeurs) }}
        </div>
    </div>

{% endblock %}
