{% extends 'base.html.twig' %}

{% block title 'exemplaire' %}

{% block body %}
<div class="container">
    <div class=" bg-warning text-center text-white">
        <h3>Caractéristiques</h3>
    </div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exemplaire.id }}</td>
            </tr>
            <tr>
                <th>Code exemplaire</th>
                <td>{{ exemplaire.codeExemplaire }}</td>
            </tr>
            <tr>
                <th>Date d'acquisition</th>
                <td>{{ exemplaire.dateAcquisition ? exemplaire.dateAcquisition|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Disponibilité</th>
                <td>{{ exemplaire.dispo ? 'Disponible' : 'Indisponible' }}</td>
            </tr>
            <tr>
                <th>Titre du livre</th>
                <td><a href="{{ path('admin_livre_show', {id: exemplaire.livre.id }) }}">{{ exemplaire.livre.titre }}</a></td>
            </tr>
            <tr>
                <th>Auteur</th>
                {% for auteur in exemplaire.livre.auteurs %}    
                   <td><a href="{{ path('admin_auteur_show', {id: auteur.id }) }}">{{ auteur }} </a></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary mb-2" href="{{ path('admin_exemplaire_edit', {'id': exemplaire.id}) }}">modifier</a>
    {{ include('admin/exemplaire/_delete_form.html.twig') }}
</div>
{% endblock %}
