{% extends 'base.html.twig' %}

{% block title 'Catalogue' %}

{% block body %}

<div class="container">

<div>
        {# notification en cas de livre déjà réservé #}
        {% for notification in app.flashes('danger') %}
            <div class="row">
                <div class="col-sm-5">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ notification }}
                    </div
                </div>
            </div>
        {% endfor %}
        {# notification en cas de livre est bien réservé #}
        {% for notification in app.flashes('success') %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ notification }}
                    </div
                </div>
            </div>
        {% endfor %}
        {# notification en cas de livre ajouté au panier #}
        {% for notification in app.flashes('addPanier') %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ notification }}
                    </div
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="bg-warning text-center text-white mb-4">
        <h3>Réservez votre livre dès maintenant</h3>
    </div>
    

    <div class="row">
        <div class="col-sm-3">
            <div class="bg-warning text-center text-white mb-4">
                <h4>Recherche avancée</h4>
            </div>
            {% include "catalog/_search.html.twig" with {form: form} only %}
        </div>
        <div class="col-sm-9">

            {% for livre in livres %}
                
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card mb-2">
                                {% if livre.imageName %}
                                    <a href="{{ path('catalog_show', {id: livre.id, slug: livre.slug} ) }}">
                                        <img style="height: auto; width: 100%; display: block;" src="{{ vich_uploader_asset(livre, 'imageFile') | imagine_filter('thumb') }}" alt="image livre">
                                    </a>
                                {% else %}
                                    <a href="{{ path('catalog_show', {id: livre.id, slug: livre.slug} ) }}">
                                        <img style="height: auto; width: 100%; display: block;" src="{{ '/images/livres/livre.jpg' | imagine_filter('thumb') }}" alt="image livre">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="text-center">
                            {% if is_granted("ROLE_USER") %}
                                <a href="{{ path('panier_add', {id: livre.id}) }}" class="btn btn-dark btn-sm">Ajouter au panier <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                                <a href="{{ path('reserver_reserve', {id: livre.id}) }}" type="button" class="btn btn-warning btn-sm">Réserver <i class="fa fa-ticket" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ path('app_login') }}" class="btn btn-dark btn-sm">Ajouter au panier</a>
                                <a href="{{ path('app_login') }}" type="button" class="btn btn-warning btn-sm">Réserver <i class="fa fa-ticket" aria-hidden="true"></i></a>
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-hover">
                                <tbody>
                                    <tr class="table-light">
                                        <th scope="row">Titre</th>
                                        <td>{{ livre.titre }}</td>
                                    </tr>
                                    <tr class="table-light">
                                        <th scope="row">Auteur</th>
                                        <td>
                                            {% for auteur in livre.auteurs %}
                                                {{ auteur.prenomAuteur }} {{ auteur.nomAuteur }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr class="table-light">
                                        <th scope="row">Catégorie</th>
                                        <td>{{ livre.genre.libelle }}</td>
                                    </tr>
                                    <tr class="table-light">
                                        <th scope="row">Parution</th>
                                        <td>{{ livre.annee }}</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                    <hr>
                {% endfor %}

        </div>
    </div>

    {# rendu de la pagination #}
    <div class="pagination">
        {{ knp_pagination_render(livres) }}
    </div>

</div>


{% endblock %}
