{% extends 'base.html.twig' %}

{% block title livre.titre %}

{% block body %}

    <div class="container mt-4">

        <section>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        {% if livre.imageName %}
                            <img style="height: 100%; width: 100%; display: block;" src="{{ vich_uploader_asset(livre, 'imageFile') | imagine_filter('normal') }}" alt="image livre">
                        {% else %}
                            <img style="height: auto; width: 100%; display: block;" src="{{ '/images/livres/livre.jpg' | imagine_filter('normal') }}" alt="image livre">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <h2 class="my-3">{{ livre.titre }}</h2>
                        <h3 class="text-muted">de
                            {% for auteur in livre.auteurs %}
                                {{ auteur.prenomAuteur }} {{ auteur.nomAuteur }}
                            {% endfor %}
                        </h3>
                        <hr>
                        <p class="lead text-left">{{ livre.resume | nl2br }}</p>

                                {% if exemplaireDispo == 0 %}
                                    <button class="btn btn-danger btn-sm disabled">Exemplaire indisponible</button>
                                {% else %}
                                     {% if is_granted("ROLE_USER") %}
                                        {# Bibliothécaire #}
                                        {% if is_granted("ROLE_ADMIN")  %}
                                            <a href="{{ path('panier_add', {id: livre.id}) }}" class="btn btn-dark btn-sm disabled">Ajouter au panier <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                                            <a href="{{ path('reserver_reserve', {id: livre.id}) }}" type="button" class="btn btn-warning btn-sm disabled">Réserver <i class="fa fa-ticket" aria-hidden="true"></i></a>
                                        {# Adhérent #}
                                        {% else %}
                                            <a href="{{ path('panier_add', {id: livre.id}) }}" class="btn btn-dark btn-sm">Ajouter au panier <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                                            <a href="{{ path('reserver_reserve', {id: livre.id}) }}" type="button" class="btn btn-warning btn-sm">Réserver <i class="fa fa-ticket" aria-hidden="true"></i></a>
                                        {% endif %}
                                    {# Visiteur #}
                                    {% else %}
                                        <a href="{{ path('app_login') }}" class="btn btn-dark btn-sm">Ajouter au panier</a>
                                        <a href="{{ path('app_login') }}" type="button" class="btn btn-warning btn-sm">Réserver <i class="fa fa-ticket" aria-hidden="true"></i></a>
                                    {% endif %}
                                {% endif %}

                    </div>
                </div>
            </div>
        </section>
        <hr>

        <section>
        
        </section>

            <div class="row text-center">
                <div class="col-sm-12">
                    <h2>Caractéristiques détaillées</h2>
                    <table class="table table-hover">
                        <tbody>
                            <tr class="table-light">
                                <th scope="row">Auteur</th>
                                <td>
                                    {% for auteur in livre.auteurs %}
                                        {{ auteur.prenomAuteur }} {{ auteur.nomAuteur }}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr class="table-light">
                                <th scope="row">Catégorie</th>
                                <td>{{ livre.genre.libelle }}</td>
                            </tr>
                            <tr class="table-light">
                                <th scope="row">Editeur</th>
                                <td>{{ livre.editeur.nomEditeur }}</td>
                            </tr>
                            <tr class="table-light">
                                <th scope="row">ISBN</th>
                                <td>{{ livre.isbn }}</td>
                            </tr>
                            <tr class="table-light">
                                <th scope="row">Parution</th>
                                <td>{{ livre.annee }}</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>



    </div>


{% endblock %}
