{% extends 'base.html.twig' %}

{% block title livre.titre %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    {% if livre.imageName %}
                        <img style="height: 100%; width: 100%; display: block;" src="{{ vich_uploader_asset(livre, 'imageFile') | imagine_filter('normal') }}" alt="image livre">
                    {% else %}
                        <img style="height: auto; width: 100%; display: block;" src="{{ '/images/livres/livre.jpg' | imagine_filter('normal') }}" alt="image livre">
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-8 jumbotron">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="display-4">{{ livre.titre }}</h1>
                        <h2>
                            {% for auteur in livre.auteurs %}
                                <p> de {{ auteur.prenomAuteur }} {{ auteur.nomAuteur }}</p>
                            {% endfor %}
                        </h2>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Résumé</h3>
                        <p class="lead">{{ livre.resume | nl2br }}</p>
                        {% if is_granted("ROLE_USER") %}
                            <a href="{{ path('panier_add', {id: livre.id}) }}" class="btn btn-info btn-sm">Ajouter au panier <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                        {% else %} {# Renvoi vers formulaire de connexion si visiteur anonyme #}
                            <a href="{{ path('app_login') }}" class="btn btn-info btn-sm">Ajouter au panier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <h3>Caractéristiques détaillées</h3>
                <table class="table table-hover">
                    <tbody>
                        <tr class="table-light">
                            <th scope="row">Auteur</th>
                            <td>
                                {% for auteur in livre.auteurs %}
                                    {{ auteur.prenomAuteur }} {{ auteur.nomAuteur }}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Catégorie</th>
                            <td>{{ livre.genre.libelle }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Editeur</th>
                            <td>{{ livre.editeur.nomEditeur }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">ISBN</th>
                            <td>{{ livre.isbn }}</td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">Parution</th>
                            <td>{{ livre.annee }}</td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </div>



    </div>


{% endblock %}
